@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}
.landing {
    margin: 0;
    padding: 0;
}
#page {
    width: 100%;
    background-color: #22313F;
}
#illustration {
    width: auto;
    display: block;
    margin: 0px;
    padding: 0;
    position: relative;
}
#blah{
		margin:auto;
		top:0; bottom:0; left:0; right:0;
	}
.myClass {
    background-color: #404040;
}
#space {
    height: 3em;
}
area {
    cursor: pointer;
}
#tag {
    font-size: 80%;
	font-style:italic;
}
#header  {
    text-align:center;
}
